body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: no-repeat url('./images/bbellini_clouds.jpg');
    background-size: cover;
}

#container{
    width: 90vw;
    max-width: 1000px;
    height: 85vh;
    min-height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 auto;
}

#calculator{
    width: 320px;
    height: 520px;
    background-color: #eaedef;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

#result{
    height: 120px;
}

#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px ;
    font-size: 15px;
    color: #919191;
}

#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

#keyboard{
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 16px;
}

.number, .empty{
    background-color: #eaedef;
}

.number, .operator{
    cursor: pointer;
}

.operator:active, .number:active{
    font-size: 13px;
}

.operator:focus, .number:focus, .empty:focus{
    outline: none;
}
.operator{
    background-color: rgba(0, 0, 0, 0.15);
}

:nth-child(4),:nth-child(8),:nth-child(12),:nth-child(16),:nth-child(20){
    background-color: orange;
}